<div class="row justify-content-center">
  <div class="w-75">


<div class="container">
  <h1>Comanda</h1>
    <div class="alert alert-warning" *ngIf="orderForm.dirty && orderForm.invalid">Enter valid values</div>

    <form (ngSubmit)="!orderForm.invalid && completeOrder()" #orderForm="ngForm">

      <div class="form-group row">
        <fieldset class="form-group col-sm-3">
          <label>Numar Masina</label>
          <input type = "text" [(ngModel)]="order.numarMasina" class ="form-control" name="numarMasina" disabled minlength="5">
        </fieldset>

        <fieldset class="form-group col-sm-5">
          <label>Nume Client</label>
          <input type = "text" [(ngModel)]="order.numeClient" class ="form-control" name="numeClient" disabled>
        </fieldset>

        <fieldset class="form-group col-sm-3">
          <label>Numar Telefon</label>
          <input type = "text" [(ngModel)]="order.numarTelefon" class ="form-control" name="numarTelefon" disabled>
        </fieldset>
      </div>

      <fieldset class="form-group col-sm-11">
        <label>Descriere</label>
        <textarea type = "text" [(ngModel)]="order.descriere" class ="form-control" name="descriere" disabled></textarea>
      </fieldset>

      <button type="submit" class="btn btn-success">Incheie</button>

  </form>
</div>
</div>
</div>
